@charset "UTF-8";
/* Body */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #000000;
	margin: 0;
}
.fixed_menu{
	width: 100%;
	z-index: 4;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	height: 12%;
	/*border: 1px solid red;*/
}
#button_wrapper{
	/*border: 1px solid red;*/
	width: 100%;
	bottom: 5%;
	height: 100%;
	position: relative;
	display: inline;
}
.nav_link{

}
.menu_button{
	margin: 0;
	padding: 0;
	height: auto;
	width: 19%;
	/*width: auto;*/
	/*height: 10%;*/
}
#home{
	background-color: #6096AA;
}

#profile{
	background-color: #29738F;

}
#fight{
	background-color: #F1E5D8;

}
#run{
	background-color: #CEC2B8;

}
#reset_button{
	background-color: #7F6F62;

}
/* Container */
.container {
	/*border: 1px solid blue;*/
	width: 90%;

	margin-left: auto;
	margin-right: auto;
	background-color: #111;
}
/*TODO fix alignment of cards*/
.gallery {
	/*border: 1px solid red;*/
	clear: both;
	display: inline-block;
	/*display: inline-flex;*/
	width: 100%;
	background-color: #333;
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 0;

}
.cards {
	position: relative;
	width: 325px;
	/*1.4 times width*/
	height: 455px;
	/*width: 20%;*/
	text-align: center;
	float: left;
	margin: 2% 19px 2% 19px;
	background-color: #222;
	padding-bottom: 0;
	border-radius: 5px;
	border: 8px solid #FFDE00;

}
.cards:hover{
	/*width: 100%;*/
	/*box-shadow: inset 13px 13px 0 0 #FFFFFF;*/
	box-shadow: 13px 13px 0 0 #111;
	z-index: 1;

}
/*wrapper for tags above image*/
.card_header{
	/*border: 2px solid red;*/
	display: inline-flex;
	width: 90%;
	margin: 2% 5% 0 5%;
	height: 25px;
	transform: translate(0, 10px);
}
/*tags above image*/
.name, .hp {
	/*border: 2px solid green;*/
	display: inline;
	/*margin-top: 5px;*/
	padding: 0;
	margin: 0;
	color: #FF0000;
	text-align: right;
	width: 50%
}
.name{
	font-weight: bolder;
	text-align: left;
	/*padding: 0 0 0 5%;*/

}
.hp {
	font-weight: bold;
	/*padding: 0 5% 0 0;*/
	text-align: right;

}
.stage_wrapper{
	display: flex;
	justify-content: flex-end;
	width: 90%;
	margin: 0 5% 0 5%;
	/*border: 1px solid red;*/
	/*Moves the Stage and arrows down 5px*/
	transform: translate(0, 5px);
	/*float: right;*/
	padding: 0 0 0 0;
}
.stage{
	background-color: #FFDE00;
	color: black;
	font-style: italic;
	font-size: 8px;
	z-index: 1;
	height: 15px;
	transform: translate(25px, 0);
}
.stage_arrow_up {
	margin: 0;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #FFDE00;
	transform: translate(40px, 0);
}
.stage_arrow_down {
	margin: 0;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #FFDE00;
	transform: translate(10px, 0);
}
.image_wrapper{
	position: relative;
	/*border: 1px solid red;*/
	width: 100%;
	height: auto;
	/*2k monitor*/
	min-width: 208px;
	min-height: 220px;
	/*margin: 0 10% 0 10%;*/
}
.image_link{

}
.img {
	display: block;
	position: absolute;
	height: auto;
	max-width: 208px;
	/*adding the 20% width to the square image*/
	padding: 0 10% 0 10%;
	/*Centering Image inside wrapper*/
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: none;

	/*background: none;*/
	border: 6px solid #FFDE00;
	z-index: 2;
}
.img:hover{
	transition: 1s;
	/*background-color: #ffffff;*/
	background-color: white;

/*opacity: 100%;*/
}
.holo{
	/*top: 0;*/
	position: absolute;
	/*width: 430px;*/
	/*height: 300px;*/
	max-width: 273px;
	z-index: 1;
	/*padding: 0 10% 0 10%;*/
	/*transform: translate(-43px, 0);*/
	/*border: 6px solid #FFDE00;*/
	/*border: 6px solid red;*/
	left: 0;
	right: 0;
	bottom: 0;
	top: 6px;
	margin-left: auto;
	margin-right: auto;
}
.holo:hover{

}
/*tags below the image*/
.tag_wrapper{
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 1% 0 1% 0;

}
.tag {
	color: #111111;
	/*padding-top: 1%;*/
	margin: 0;
	/*margin: 0 30% 0 30%;*/
	text-align: center;
	font-size: 10px;
	border: 1px solid #FFDE00;
	background-color: #FFDE00;
	font-style: italic;
	white-space: nowrap;
	display: inline;
	z-index: 1;
}
.arrow-up {
	margin: 0 0 0 25%;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #FFDE00;
	transform: translate(15px, 0);

}
.arrow-down {
	margin: 0 25% 0 0;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #FFDE00;
	transform: translate(-15px, 0);
}
.table_stats{

	width: 90%;
	font-size: 10px;
	text-align: center;
	vertical-align: center;
	margin: 0 5% 1% 5%;
	border-collapse: collapse;
	border-top: 1px solid black;
	/*border: 1px solid black;*/

}
.description {
	font-size: 10px;
	border: 1px solid #FFDE00;
	width: 90%;
	text-align: left;
	font-weight: lighter;
	/*line-height: 25px;*/
	margin: 0 5% 1% 5%;
	color: black;
	padding: 0;
	line-height: 1.0;
	font-style: italic;
}
.type_icon_resistances{
	/*border: 1px solid black;*/
	width: auto;
	height: 20px;
	/*display: flex;*/
	margin: 0;
	padding: 0;
	display: inline;
	font-style: italic;
}
.table_type{
	width: 90%;
	font-size: 10px;
	text-align: center;
	/*vertical-align: top;*/
	margin: 1% 5% 0 5%;
	border-collapse: collapse;
	border-top: 1px solid black;
	/*background-color: #333;*/
	/*color: white;*/
	/*border-radius: 0 0 10px 10px;*/
	/*border: 1px solid red;*/
}
.table_type tr th{
	width: 20%;
}
.hidden_type1{
	/*visibility: hidden;*/
	width: 0;
	height: 0;
	display: flex;
	margin: 0;
	padding: 0;
	/*border: 1px solid purple;*/
	/*font-size: 0;*/
}
/*.bottom_row{*/
/*	position: relative;*/
/*	!*height: 30%;*!*/


/*}*/
.bottom_row_wrapper{
	/*border: 1px solid red;*/
	width: 100%;
	min-height: 20px;
	position: absolute;
	bottom: 0;
	vertical-align: bottom;

}
.illustrator, .restorer, .creation{
	position: absolute;
	bottom: 0;
	font-size: 7px;
	padding: 0;
	margin: 0;
}
.illustrator{

	left: 0;

	/*border: 1px solid red;*/
	display: inline;
	float: left;

}
.restorer{
	display: inline;
	left: 20%;
	float: left;
	margin: 0 0 0 0;
}
.restorer_link{

	cursor: pointer;
	color: black;
	text-decoration: none;
}
.restorer_link:visited{
	color: black;
	text-decoration: none;
}
.restorer_link:hover{
	color: deeppink;
	transition: 1s;
}
.creation{
	display: inline;
	left: 40%;
	float: left;
	margin: 0 0 0 0;
}
.icon_wrapper{
	display: inline;
}
.type_icon, .type_icon2{
	margin: 0;
	padding: 0;
	width: auto;
	height: 20px;
	/*border: 1px solid black;*/
	display: flex;
	float: right;

}


/* Mobile */
@media (max-width: 320px) {
	.cards {
	width: 260px;
	/*1.4 times width*/
	height: 364px;
	margin: 2% 19px 2% 19px;
		/*width: 90%;*/
	}
	.image{
		max-width: 50px;
		height: auto;
	}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	.cards {
		width: 325px;
		/*1.4 times width*/
		height: 455px;
	}
	.image{
		max-width: 50px;
		height: auto;
	}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
	.cards {
	width: 325px;
	/*1.4 times width*/
	height: 455px;
	}
	.image{
		/*260
			- 16: 8 card border
			- 12: 6 for img border
			- 16 : 10% margins x 2
			*/
		max-width: 50px;
		height: auto;
	}

}
