<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon</title>
    <link href="../static/CSS/Grid.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
{#<nav class="fixed_menu">#}
{#    <div id="buton_wrapper">#}
{#        <a class="nav_link">#}
{##}
{#            <div class="nav_image_wrapper">#}
{#                <p class="nav_text">home</p>#}
{#                <img id="home" alt="button" class="menu_button" src="/static/images/base_menu.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_tl" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_tr" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_bl" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_br" src="/static/images/menu_pokeball.png">#}
{#            </div>#}
{#        </a>#}
{#        <a class="nav_link">#}
{#            <div class="nav_image_wrapper">#}
{#                <p class="nav_text">profile</p>#}
{#                <img id="profile" alt="button" class="menu_button" src="/static/images/base_menu.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_tl" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_tr" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_bl" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_br" src="/static/images/menu_pokeball.png">#}
{#            </div>#}
{##}
{#        </a>#}
{#        <a class="nav_link">#}
{#            <div class="nav_image_wrapper">#}
{#                <p class="nav_text">fight</p>#}
{#                <img id="fight" alt="button" class="menu_button" src="/static/images/base_menu.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_tl" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_tr" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_bl" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_br" src="/static/images/menu_pokeball.png">#}
{#            </div>#}
{#        </a>#}
{#        <a class="nav_link">#}
{#            <div class="nav_image_wrapper">#}
{#                <p class="nav_text">run</p>#}
{#                <img id="run" alt="button" class="menu_button" src="/static/images/base_menu.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_tl" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_tr" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_bl" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_br" src="/static/images/menu_pokeball.png">#}
{#            </div>#}
{#        </a>#}
{##}
{#        <a class="nav_link" href="/pokedex_grid">#}
{#            <div class="nav_image_wrapper">#}
{#                <p class="nav_text">reset</p>#}
{#                <img id="reset_button" alt="button" class="menu_button" src="/static/images/base_menu.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_tl" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_tr" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_bl" src="/static/images/menu_pokeball.png">#}
{#                <img alt="menu-pokeball" class="menu_pokeball_br" src="/static/images/menu_pokeball.png">#}
{#            </div>#}
{#        </a>#}
{#    </div>#}
{#</nav>#}
<div class="container">
    <!-- Header -->
    <header class="header">
        <h4 class="logo">Pokedex</h4>
    </header>
    {% for dexnum in pokemon_dict %}
        {% if loop.index0 % 4 == 0 %}
            <div class="gallery">
        {% endif %}
{#onmouseout="lost_focus_card(this.id)"#}
    <div class="cards {{ pokemon_dict[dexnum]['Pokemon'].type1|safe }}" id="{{ pokemon_dict[dexnum]['Pokemon'].dexnum|safe}}"  onclick="card_clicked(this.id)">
        <a href="/pokedex_grid?delete={{ dexnum }}"><img class="delete-icon" alt="delete" src="/static/images/delete.png"></a>
        <div class="card_header">
            <p class="name">{{ pokemon_dict[dexnum]['Pokemon'].name|safe }}</p>
            <p class="hp">{{ pokemon_dict[dexnum]['Stats'].hp }} HP</p>
        </div>
        <div class="stage_wrapper">
            <div class="stage_arrow_up"></div>
            <div class="stage">{{ pokemon_dict[dexnum]['Pokemon'].stage|safe }}</div>
            <div class="stage_arrow_down"></div>
        </div>
        <div class="image_wrapper">

{#            <a class="image_link" href="{{ url_for('pokedex_table') }}">#}
                <img class="img" src="/static/images/Pokemon/{{ (dexnum|string).rjust(3, '0') }}{{ pokemon_dict[dexnum]['Pokemon'].name|safe }}.png"
                     alt="Pokedex" />
{#            </a>#}
            <img class="holo" alt="holo" src="/static/images/Holo.png" />
{#            <img class="holo" alt="holo" src="/static/images/B_Holo.png" />#}
        </div>
        <div class="tag_wrapper">
            <div class="arrow-up"></div>
            <p class="tag">{{ pokemon_dict[dexnum]['Pokemon'].category|safe }}.
                Length: {{ pokemon_dict[dexnum]['Pokemon'].height|safe }}m,
                Weight: {{ pokemon_dict[dexnum]['Pokemon'].weight|safe }} kg.</p>
            <div class="arrow-down"></div>
        </div>
        <table class="table_stats">
            <tr>
                <th>Atk</th>
                <th>S-Atk</th>
                <th>Def</th>
                <th>S-Def</th>
                <th>Spd</th>
            </tr>
            <tr>
                <td>{{ pokemon_dict[dexnum]['Stats'].attack|safe }}</td>
                <td>{{ pokemon_dict[dexnum]['Stats'].special_attack|safe }}</td>
                <td>{{ pokemon_dict[dexnum]['Stats'].defense|safe }}</td>
                <td>{{ pokemon_dict[dexnum]['Stats'].special_defense|safe }}</td>
                <td>{{ pokemon_dict[dexnum]['Stats'].speed|safe }}</td>
            </tr>
        </table>
        <div class="description">{{ pokemon_dict[dexnum]['Pokemon'].description|safe }}</div>
        <table class="table_type">
            <tr>
                <th>Imm</th>
                <th>S-Rst</th>
                <th>Rst</th>
                <th>Weak</th>
                <th>S-Weak</th>
            </tr>
            <tr>
                <td>
                    <div class="type_icon_table_wrapper">
                        {% for type in pokemon_dict[dexnum]['Type'][0.0] %}
                            <img class="type_icon_resistances" alt="immune"
                                 src="/static/images/Type_Icons/{{ type|safe }}.png">
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <div class="type_icon_table_wrapper">
                        {% for type in pokemon_dict[dexnum]['Type'][0.25] %}
                            <img class="type_icon_resistances" alt="immune"
                                 src="/static/images/Type_Icons/{{ type|safe }}.png">
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <div class="type_icon_table_wrapper">
                        {% for type in pokemon_dict[dexnum]['Type'][0.5] %}
                            <img class="type_icon_resistances" alt="immune"
                                 src="/static/images/Type_Icons/{{ type|safe }}.png">
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <div class="type_icon_table_wrapper">
                        {% for type in pokemon_dict[dexnum]['Type'][2.0] %}
                            <img class="type_icon_resistances" alt="immune"
                                 src="/static/images/Type_Icons/{{ type|safe }}.png">
                        {% endfor %}
                        <div class="type_icon_table_wrapper">
                </td>
                <td>
                    <div class="type_icon_table_wrapper">
                        {% for type in pokemon_dict[dexnum]['Type'][4.0] %}
                            <img class="type_icon_resistances" alt="immune"
                                 src="/static/images/Type_Icons/{{ type|safe }}.png">
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>

        <div class="bottom_row_wrapper">
            <div class="illustrator">Illus. Ken Sugimori</div>
            <div class="restorer">Restorer. <a class="restorer_link" href="https://twitter.com/FLECKABEN">Fleckaben</a></div>
            <div class="creation">@1995-2000 Nintendo, Creatures, GAMEFREAK.</div>
            <div class="icon_wrapper">
                <a href="{{ url_for('pokedex_grid', type=pokemon_dict[dexnum]['Pokemon'].type1|safe) }}">
                    <img class="type_icon" alt="{{ pokemon_dict[dexnum]['Pokemon'].type1|safe }}"
                         src="/static/images/Type_Icons/{{ pokemon_dict[dexnum]['Pokemon'].type1|safe }}.png">
                </a>
                {% if pokemon_dict[dexnum]['Pokemon'].type2|safe != 'None' %}
                    <a href="{{ url_for('pokedex_grid', type=pokemon_dict[dexnum]['Pokemon'].type2|safe) }}">
                        <img class="type_icon2" alt="{{ pokemon_dict[dexnum]['Pokemon'].type2|safe }}"
                             src="/static/images/Type_Icons/{{ pokemon_dict[dexnum]['Pokemon'].type2|safe }}.png">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if loop.index0 % 4 == 3 %}
        </div>
    {% endif %}

        {#        src="/static/images/Pokemon/{{ (dexnum|string).rjust(3, '0') }}{{ pokemon_dict[dexnum]['Pokemon'].name|safe }}.png"#}
    {% endfor %}
</div>
<!-- Main Container Ends -->
</body>
<script>

    document.addEventListener("DOMContentLoaded", color_cards);
    document.addEventListener("DOMContentLoaded", size_cards);

    function color_cards() {
        {#console.log("Coloring Cards");#}
        let cards = document.getElementsByClassName("cards");
        {#let type2 = document.getElementsByClassName("type2");#}
        for (let i = 0; i < cards.length; i++) {
            switch (cards[i].className.substr(6)) {
                case("Grass"):
                    cards[i].style.color = "black";
                    cards[i].style.backgroundColor = "#5F9569";
                    break;
                case("Bug"):
                    cards[i].style.color = "black";
                    cards[i].style.backgroundColor = "#7AC89E";
                    break;
                case("Fire"):
                    cards[i].style.color = "black";
                    cards[i].style.backgroundColor = "#E64556";
                    cards[i].getElementsByClassName("name")[0].style.color = "black";
                    cards[i].getElementsByClassName("hp")[0].style.color = "black";
                    cards[i].getElementsByClassName("stage_wrapper")[0].style.color = "black";
                    cards[i].getElementsByClassName("delete-icon")[0].setAttribute("src", "/static/images/delete-black.png")
                    break;
                case("Ghost"):
                case("Poison"):
                case("Psychic"):
                    cards[i].style.color = "black";
                    cards[i].style.backgroundColor = "#7C6EBB";
                    break;
                case("Water"):
                    cards[i].style.color = "black";
                    cards[i].style.backgroundColor = "#84ADD7";
                    break;
                case("Ice"):
                    cards[i].style.color = "black";
                    cards[i].style.backgroundColor = "lightblue";
                    break;
                case("Ground"):
                    cards[i].style.color = "white";
                    cards[i].style.backgroundColor = "#332011";
                    cards[i].getElementsByClassName("table_stats")[0].style.color = "white";
                    cards[i].getElementsByClassName("description")[0].style.color = "white";
                    cards[i].getElementsByClassName("table_type")[0].children[0].style.color = "white";
                    cards[i].getElementsByClassName("illustrator")[0].style.color = "white";
                    cards[i].getElementsByClassName("restorer")[0].style.color = "white";
                    cards[i].getElementsByClassName("creation")[0].style.color = "white";
                    cards[i].getElementsByClassName("restorer_link")[0].style.color = "white";
                    break;
                case("Rock"):
                    cards[i].style.color = "brown";
                    cards[i].style.backgroundColor = "#333333";
                    cards[i].getElementsByClassName("table_stats")[0].style.color = "white";
                    cards[i].getElementsByClassName("description")[0].style.color = "white";
                    cards[i].getElementsByClassName("table_type")[0].children[0].style.color = "white";
                    cards[i].getElementsByClassName("illustrator")[0].style.color = "white";
                    cards[i].getElementsByClassName("restorer")[0].style.color = "white";
                    cards[i].getElementsByClassName("creation")[0].style.color = "white";
                    cards[i].getElementsByClassName("restorer_link")[0].style.color = "white";
                    break;
                case("Fighting"):
                    cards[i].style.color = "black";
                    cards[i].style.backgroundColor = "#C04C4B";
                    cards[i].getElementsByClassName("delete-icon")[0].setAttribute("src", "/static/images/delete-black.png")
                    break;
                case("Electric"):
                    cards[i].style.color = "black";
                    cards[i].style.backgroundColor = "#FAB61D";
                    break;
                default:
                    cards[i].style.color = "black";
                    cards[i].style.backgroundColor = "#BBBBBB";
                    break;
            }
        }
    }

    function size_cards(){

    }

    function card_clicked(id){
        {#console.log("Clicked!");#}
        let current_card = document.getElementsByClassName("clicked_card");
        if(current_card.length === 1){
            current_card[0].classList.toggle("clicked_card");
        } else {
            let card = document.getElementById(id);
            card.classList.toggle("clicked_card");
            {#card.classList.toggle("clicked_card_image");#}
        }
    }
    const sWidth = screen.width;
    const sHeight = screen.height;

    const width  = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    const height = window.innerHeight|| document.documentElement.clientHeight|| document.body.clientHeight;

    console.log("wWidth: ", width, " wHeight: ", height);
    console.log("sWidth: ", sWidth, " sHeight: ", sHeight)

    calculateCardSize();
    calculateFocusCard();

    function calculateCardSize(){
        const screenHeightRatio = sHeight / sWidth;
        console.log("Screen Ratio: ", screenHeightRatio);
        let cardWidth = sWidth / 5;
        let cardHeight = cardWidth * 1.4
        console.log("if 4 cards per screen");
        console.log("Card Width: ", cardWidth, " Card Height: ", cardHeight);
    }

    function calculateFocusCard(){
        const width  = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        const height = window.innerHeight|| document.documentElement.clientHeight|| document.body.clientHeight;
        const screenRatio = sHeight / sWidth;
        let cardHeight = height * .9;
        let cardWidth = cardHeight / 1.4;
        console.log("Focus Card");
        console.log("Card Width: ", cardWidth, " Card Height: ", cardHeight);

    }

</script>
</html>