<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon</title>
    <link href="../static/CSS/Grid.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<nav class="fixed_menu">
    <div id="buton_wrapper">
        <a class="nav_link"><img id="home" alt="button" class="menu_button" src="/static/images/Menu5.png"></a>
        <a class="nav_link"><img id="profile" alt="button" class="menu_button" src="/static/images/Menu5.png"></a>
        <a class="nav_link"><img id="fight" alt="button" class="menu_button" src="/static/images/Menu5.png"></a>
        <a class="nav_link"><img id="run" alt="button" class="menu_button" src="/static/images/Menu5.png"></a>

        <a class="nav_link"><img id="reset_button" alt="button" class="menu_button" src="/static/images/Menu5.png"></a>
    </div>
</nav>
<div class="container">
    <!-- Header -->
    <header class="header">
        <h4 class="logo">Pokedex</h4>
    </header>
    {% for dexnum in pokemon_dict %}
        {% if loop.index0 % 4 == 0 %}
            <div class="gallery">
        {% endif %}
    <div class="cards">
        <div class="card_header">
            <p class="name">{{ pokemon_dict[dexnum]['Pokemon'].name|safe }}</p>
            <p class="hp">{{ pokemon_dict[dexnum]['Stats'].hp }} HP</p>
        </div>
        <div class="stage_wrapper">
            <div class="stage_arrow_up"></div>
            <div class="stage">{{ pokemon_dict[dexnum]['Pokemon'].stage|safe }}</div>
            <div class="stage_arrow_down"></div>
        </div>
        <div class="image_wrapper">
            <a class="image_link" href="{{ url_for('pokedex_table') }}">
                <img class="img" src="/static/images/Pokemon/{{ (dexnum|string).rjust(3, '0') }}{{ pokemon_dict[dexnum]['Pokemon'].name|safe }}.png"
                     alt="Pokedex" />

            </a>
            <img class="holo" alt="holo" src="/static/images/Holo.png" />
{#            <img class="holo" alt="holo" src="/static/images/B_Holo.png" />#}
        </div>
        <div class="tag_wrapper">
            <div class="arrow-up"></div>
            <p class="tag">{{ pokemon_dict[dexnum]['Pokemon'].category|safe }}.
                Length: {{ pokemon_dict[dexnum]['Pokemon'].height|safe }}m,
                Weight: {{ pokemon_dict[dexnum]['Pokemon'].weight|safe }} kg.</p>
            <div class="arrow-down"></div>
        </div>
        <table class="table_stats">
            <tr>
                <th>Atk</th>
                <th>S-Atk</th>
                <th>Def</th>
                <th>S-Def</th>
                <th>Spd</th>
            </tr>
            <tr>
                <td>{{ pokemon_dict[dexnum]['Stats'].attack|safe }}</td>
                <td>{{ pokemon_dict[dexnum]['Stats'].special_attack|safe }}</td>
                <td>{{ pokemon_dict[dexnum]['Stats'].defense|safe }}</td>
                <td>{{ pokemon_dict[dexnum]['Stats'].special_defense|safe }}</td>
                <td>{{ pokemon_dict[dexnum]['Stats'].speed|safe }}</td>
            </tr>
        </table>
        <div class="description">{{ pokemon_dict[dexnum]['Pokemon'].description|safe }}</div>
        <table class="table_type">
            <tr>
                <th>Imm</th>
                <th>S-Rst</th>
                <th>Rst</th>
                {#                        <th>Ntrl</th>#}
                <th>Weak</th>
                <th>S-Weak</th>
            </tr>
            <tr>
                <td>
                    <div class="type_icon_table_wrapper">
                        {% for type in pokemon_dict[dexnum]['Type'][0.0] %}
                            <img class="type_icon_resistances" alt="immune"
                                 src="/static/images/Type_Icons/{{ type|safe }}.png">
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <div class="type_icon_table_wrapper">
                        {% for type in pokemon_dict[dexnum]['Type'][0.25] %}
                            <img class="type_icon_resistances" alt="immune"
                                 src="/static/images/Type_Icons/{{ type|safe }}.png">
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <div class="type_icon_table_wrapper">
                        {% for type in pokemon_dict[dexnum]['Type'][0.5] %}
                            <img class="type_icon_resistances" alt="immune"
                                 src="/static/images/Type_Icons/{{ type|safe }}.png">
                        {% endfor %}
                    </div>
                </td>
                {#                        <td>#}
                {#                            {% for type in pokemon_dict[dexnum]['Type'][1.0] %}#}
                {#                            <img class="type_icon2" alt="immune" src="/static/images/Type_Icons/{{ type|safe }}.png">#}
                {#                            {% endfor %}#}
                {#                        </td>#}

                <td>
                    <div class="type_icon_table_wrapper">
                        {% for type in pokemon_dict[dexnum]['Type'][2.0] %}
                            <img class="type_icon_resistances" alt="immune"
                                 src="/static/images/Type_Icons/{{ type|safe }}.png">
                        {% endfor %}
                        <div class="type_icon_table_wrapper">
                </td>
                <td>
                    <div class="type_icon_table_wrapper">
                        {% for type in pokemon_dict[dexnum]['Type'][4.0] %}
                            <img class="type_icon_resistances" alt="immune"
                                 src="/static/images/Type_Icons/{{ type|safe }}.png">
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
        <span class="hidden_type1" id="{{ pokemon_dict[dexnum]['Pokemon'].type1|safe }}"></span>
{#        <div class="bottom_row">#}
            <div class="bottom_row_wrapper">
                <div class="illustrator">Illus. Ken Sugimori</div>
                <div class="restorer">Restorer. <a class="restorer_link" href="https://twitter.com/FLECKABEN">Fleckaben</a></div>
                <div class="creation">@1995-2000 Nintendo, Creatures, GAMEFREAK.</div>
                <div class="icon_wrapper">
                    <a href="{{ url_for('pokedex_grid', type=pokemon_dict[dexnum]['Pokemon'].type1|safe) }}">
                        <img class="type_icon" alt="{{ pokemon_dict[dexnum]['Pokemon'].type1|safe }}"
                             src="/static/images/Type_Icons/{{ pokemon_dict[dexnum]['Pokemon'].type1|safe }}.png">
                    </a>
                    {% if pokemon_dict[dexnum]['Pokemon'].type2|safe != 'None' %}
                        <a href="{{ url_for('pokedex_grid', type=pokemon_dict[dexnum]['Pokemon'].type2|safe) }}">
                            <img class="type_icon2" alt="{{ pokemon_dict[dexnum]['Pokemon'].type2|safe }}"
                                 src="/static/images/Type_Icons/{{ pokemon_dict[dexnum]['Pokemon'].type2|safe }}.png">
                        </a>
                    {% endif %}
                </div>
            </div>
{#        </div>#}
    </div>
    {% if loop.index0 % 4 == 3 %}
        </div>
    {% endif %}

        {#        src="/static/images/Pokemon/{{ (dexnum|string).rjust(3, '0') }}{{ pokemon_dict[dexnum]['Pokemon'].name|safe }}.png"#}
    {% endfor %}
</div>
<!-- Main Container Ends -->
</body>
<script>
    function color_type(classname) {
        let type1 = document.getElementsByClassName(classname);
        {#let type2 = document.getElementsByClassName("type2");#}
        for (let i = 0; i < type1.length; i++) {
            {#console.log(type1[i].textContent);#}
            switch (type1[i].id) {
                case("Grass"):
                    type1[i].style.color = "black";
                    type1[i].parentElement.style.backgroundColor = "#5F9569";
                    break;
                case("Bug"):
                    type1[i].style.color = "black";
                    type1[i].parentElement.style.backgroundColor = "#7AC89E";
                    break;
                case("Fire"):
                    type1[i].style.color = "black";
                    type1[i].parentElement.style.backgroundColor = "#E64556";
                    //Name and HP
                    type1[i].parentNode.children[0].children[0].style.color = "black";
                    type1[i].parentNode.children[0].children[1].style.color = "black";
                    type1[i].parentNode.children[1].style.color = "black";
                {#console.log();#}
                    break;
                case("Ghost"):
                case("Poison"):
                case("Psychic"):
                    type1[i].style.color = "black";
                    type1[i].parentElement.style.backgroundColor = "#7C6EBB";
                    break;
                case("Water"):
                    type1[i].style.color = "black";
                    type1[i].parentElement.style.backgroundColor = "#84ADD7";
                    break;
                case("Ice"):
                    type1[i].style.color = "lightblue";
                    type1[i].parentElement.style.backgroundColor = "lightblue";
                    break;
                case("Ground"):
                    type1[i].style.color = "white";
                    type1[i].parentElement.style.backgroundColor = "#332011";
                    type1[i].parentElement.children[4].style.color = "white";
                    type1[i].parentElement.children[5].style.color = "white";
                    type1[i].parentElement.children[6].children[0].style.color = "white";
                    type1[i].parentElement.children[8].children[0].style.color = "white";
                    type1[i].parentElement.children[8].children[1].style.color = "white";
                    type1[i].parentElement.children[8].children[2].style.color = "white";
                    type1[i].parentElement.children[8].children[1].children[0].style.color = "white";
                    type1[i].parentElement.children[8].children[1].children[0].style.color = "white";
                    break;
                case("Rock"):
                    type1[i].style.color = "brown";
                    type1[i].parentElement.style.backgroundColor = "#333333";
                    type1[i].parentElement.children[4].style.color = "white";
                    type1[i].parentElement.children[5].style.color = "white";
                    type1[i].parentElement.children[6].children[0].style.color = "white";
                    type1[i].parentElement.children[8].children[0].style.color = "white";
                    type1[i].parentElement.children[8].children[1].style.color = "white";
                    type1[i].parentElement.children[8].children[2].style.color = "white";
                    type1[i].parentElement.children[8].children[1].children[0].style.color = "white";
                    break;
                case("Fighting"):
                    type1[i].style.color = "black";
                    type1[i].parentElement.style.backgroundColor = "#C04C4B";
                    break;
                case("Electric"):
                    type1[i].style.color = "black";
                    type1[i].parentElement.style.backgroundColor = "#FAB61D";
                    break;
                default:
                    type1[i].style.color = "black";
                    type1[i].parentElement.style.backgroundColor = "#BBBBBB";
                    break;
            }

        }
    }

    color_type("hidden_type1");


</script>
</html>